<?xml version="1.0" encoding="UTF-8"?><!-- 선언부 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!-- A Servlet Instance(반드시 자식 태그를 가져야 함)-->
	<servlet>
		<!-- 1. 서버 내부 이름 매핑 -->
		<servlet-name>MyWebServlet</servlet-name>
		<servlet-class>servlet.web.MyWebServlet</servlet-class>  
	</servlet> 
	
	<servlet-mapping>
		<!-- 2. Client URL 매핑 -->
		<servlet-name>MyWebServlet</servlet-name>
		<url-pattern>/MY</url-pattern>
	</servlet-mapping>
</web-app>